<div><%= flash[:notice] %></div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">

      <%=render 'books/index', book: @book, user: @user %>

      </div>
      <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table books">
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td><%= image_tag book.user.get_profile_image(100,100)%></td>
            <td><%= link_to book.title, book_path(book.id)%></td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
     </div>
    </div>
  </div>
</main>